	<div class="sticky-container">
		<ul class="sticky">
			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
				<img width="32" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/fb.svg" />
				<p>Facebook</p>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}">
				<img width="32" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/twitter.svg" />
				<p>Twitter</p>
				</a>	
			</li>
<!--			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
				<img width="32" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/pin.svg" />
				<p>Pinterest</p>
				</a>	
			</li> -->
			<li>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}">
				<img width="32" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/linkedin.svg" />
				<p>Linkedin</p>
				</a>	
			</li>
<!--			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
				<img width="32" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/rss.svg" />
				<p>RSS</p>
				</a>	
			</li> 
			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
				<img width="32" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/tumblr.svg" />
				<p>Tumblr</p>
				</a>	
			</li> 
			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
				<img width="32" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/wp.svg" />
				<p>WordPress</p>
				</a>	
			</li>
			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
				<img width="30" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/vimeo.svg" />
				<p>Vimeo</p>
				</a>	
			</li> -->
			<li>
				<a href="https://getpocket.com/save?url={{ site.url }}{{ site.baseurl }}{{ page.url }}">
				<img width="30" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/pocket.svg" />
				<p>Pocket</p>
				</a>	
			</li> 
			<li>
				<a href="https://share.flipboard.com/bookmarklet/popout?v=2&title={{page.title | url_encode}}&url={{site.url}}{{ page.url }}">
				<img width="30" height="32" title="" alt="" src="{{site.baseurl}}/img/Social/flipboard.svg" />
				<p>Flipboard</p>
				</a>	
			</li>       
		</ul>
	</div>
