---
layout: base
---

{% include header.html type="post" %}

<div class="container">
  {% include toc.html %}
 
  <style type="text/css">

#TOC {
  margin: 25px 0px 20px 0px;
}
@media (max-width: 768px) {
#TOC {
  position: relative;
  width: 100%;
}
}


.toc-content {
  padding-left: 30px;
  padding-right: 40px;
}

div.main-container {
  max-width: 1200px;
}

div.tocify {
  width: 20%;
  max-width: 260px;
  max-height: 85%;
}

@media (min-width: 768px) and (max-width: 991px) {
  div.tocify {
    width: 25%;
  }
}

@media (max-width: 767px) {
  div.tocify {
    width: 100%;
    max-width: none;
  }
}

.tocify ul, .tocify li {
  line-height: 20px;
}

.tocify-subheader .tocify-item {
  font-size: 0.90em;
  padding-left: 25px;
  text-indent: 0;
}

.tocify .list-group-item {
  border-radius: 0px;
}


</style>
  
  
  <div class="row">
    <div class="col-lg-4 col-lg-offset-0 col-md-2 col-md-offset-0">
      <div id="TOC" class="tocify">
      </div>
    </div>
    
    <div class="toc-content col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-0">
      
      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>
      

      
      
      <!-- include google ads -->
      {% include advertising.html %}

      {% if page.comments %}
        <div class="disqus-comments">          
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
