---
layout: base
---

{% include header.html type="post" %}

<div class="search" id="js-search">
      <a href="javascript:void(0)" onclick="toggleSearch()" class="search__close-btn">
        <svg style="width:48px;height:48px" viewBox="0 0 24 24">
        <path d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" />
        </svg>
      </a>
      <input type="text" placeholder="Type here to search" class="search__input" id="js-search__input">
      <ul class="search__results" id="js-search__results"></ul>
</div>

<div class="container">
  
  
  <div class="row">    
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      
      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
        </li>
        {% endif %}
      </ul>
      

      
      
      <!-- include google ads -->
      {% include advertising.html %}

      {% if page.comments %}
        <div class="disqus-comments">          
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
